.wp-block-hero .wp-block-buttons {
  @apply mt-8;
}

.wp-block-button,
.wp-block-file {
  @apply !flex;
}
.wp-block-file:not(:has(> div)) {
  @apply !inline-flex flex-col lg:flex-row gap-2;
  clear: both;
  float: left;
}

.wp-block-file:has(> div)::after {
  @apply hidden;
}

.wp-block-button__link,
.wp-block-file > a:first-child {
  @apply bg-transparent -translate-x-4 transition duration-500 font-semibold !p-0 text-black;
}

.wp-block-buttons {
  @apply gap-4 flex flex-col items-start;
}
.wp-block-button,
.wp-block-file {
  @apply gap-6 p-0 items-center text-black bg-transparent transition duration-500 ml-auto border border-transparent rounded-full pl-4 font-bold;
}

.wp-block-file {
  @apply ml-0 inline-block;
}

.wp-block-file__button {
  @apply lg:-mr-16 p-0 lg:pl-4 bg-lime !text-black flex  items-center;
}

.wp-block-file:hover > a:first-child,
.wp-block-button:hover .wp-block-button__link {
  @apply translate-x-0;
}

.wp-block-file__button::after {
  @apply ml-12;
}

.wp-block-file__button::after:hover,
.wp-block-file:hover,
.wp-block-button:hover {
  @apply border-lime !bg-lime/10 !text-black;
}

.wp-block-file:hover .wp-block-file__button::after,
.wp-block-file:hover::after,
.wp-block-button:hover::after {
  @apply translate-x-0;
}
.wp-block-file__button::after,
.wp-block-button::after {
  @apply w-12 h-12 flex-none bg-lime  -translate-x-2 transition duration-500;
  content: '';
  border-radius: 999px;
  display: block;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMy41IDQuNSAyMSAxMm0wIDAtNy41IDcuNU0yMSAxMkgzIiAvPgo8L3N2Zz4=');
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.wp-block-file:hover,
.wp-block-button:hover {
  background-color: #f0f0f0;
}
