.wp-block-details {
  @apply my-16;
}

.wp-block-details + .wp-block-details {
  @apply -mt-[calc(4rem+1px)];
}

details {
  @apply px-4   border-b;
}

details[open] {
  @apply !border border-black pb-4;
}

details[open] .open\:rotate-90 {
  @apply transform rotate-90;
}

summary {
  @apply list-none  relative border -mt-px border-transparent -mx-4 pr-16  transition pt-6 pb-4 lg:px-6 px-4 cursor-pointer;
  font-size: 1em !important;
}

summary::marker {
  @apply hidden;
}

summary + p {
  @apply mt-4;
}

details summary::after {
  @apply mx-auto absolute border border-lime right-4  -translate-y-1/2 top-1/2 size-10 block rounded-full p-1;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(1,105,125)" ><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></svg>');
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.wp-block-people-list details summary::after {
  @apply right-6 md:right-8 p-2 size-14;
  background-size: 2rem;
}

/* details summary:hover::after {
  background-color: rgba(255, 255, 255, 1);
} */

details[open] summary::after {
  /* background-color: bg-lime; */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(1,105,125)" >  <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" /></svg>');
}

details[open] summary {
  @apply border-b bg-teal text-white;
}

summary:hover {
  @apply bg-beige/20 border-black !border-b-transparent;
}
